{% extends "base.html" %}

{% block content %}
    <h1>API documentation v1.0</h1>

    <ul>
        {% for doc in docs %}
            <li><a href="#{{ doc.name }}">{{ doc.name }}</a></li>
        {% endfor %}
    </ul>

    {% for doc in docs %}
        <div class="row doc-block" id="{{ doc.name }}">
            <div class="span16">
                <h2 style="padding: 0; margin: 0">{{ doc.name }}</h2>
                {% if doc.doc %}
                    <p class="handler-doc">{{ doc.doc|safe|linebreaksbr|urlize }}</p>
                {% endif %}

                {% if doc.resource_uri_template %}
                    <p><span class="label notice">Resource URI:</span> {{ doc.resource_uri_template }}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

