{% extends "base.html" %}

{% block content %}
    <h1>API documentation v2.0</h1>
    <p>Create some docs...</p>

    <h3>Example API calls</h3>
    <ul>
        <li>/api/v2/organisations/?format=json&limit=0</li>
        <li>/api/v2/organisations/?format=json&offset=2</li>
        <li>/api/v2/organisations/?format=json</li>
        <li>/api/v2/organisations/?format=xml</li>
        <li>/api/v2/organisations/?format=yaml</li>
        <li>/api/v2/activities/?format=json</li>
    </ul>

    <p>older docs: <a href="/api/v1/">version 1.0</a></p>
{% endblock %}